################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Game2/bin
/Game2/obj
/Game2/Content/bin
/Game2/Content/obj
